@charset "UTF-8";
* {
  font-family: "roboto";
}

html, body {
  margin: 0px;
  padding: 0px;
  position: relative;
  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  position: relative;
  margin-top: 10px;
  height: 62px;
  width: 100%;
  z-index: 1;
}
.header_flex {
  display: flex;
  align-items: center;
}
.header_ul {
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
  width: 100%;
}
.header_ul_li {
  font-size: 16px;
  padding: 0 10px;
  height: 33px;
  font-weight: bold;
  margin-left: 10px;
  align-items: center;
  line-height: 2;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.header_ul_li:hover {
  padding: 0 10px;
  height: 33px;
  margin-left: 10px;
  align-items: center;
  background: linear-gradient(to top, #f26843, #e74a35);
  border: none;
  border-radius: 100em;
  transition: 0.2s ease;
  line-height: 2;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.header_search {
  width: 33px;
  height: 33px;
  border-radius: 100em;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(/img/Лупа.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header_search:hover {
  width: 350px;
  height: 33px;
  border-radius: 100em;
  transition: 0.2s ease;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: #fff;
  padding: 0 15px;
}

.button {
  width: 120px;
  height: 33px;
  margin-left: 10px;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 100em;
  transition: 0.2s ease;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  font-weight: bold;
  background: linear-gradient(to top, #f26843, #e74a35);
}
.button_href {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-left: 0;
}
.button_icon {
  color: #fff;
  margin-right: 8px;
  margin-left: 0;
}
.button_red {
  width: 280px;
  height: 64px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 32px;
  font-weight: bold;
  line-height: 1.36;
  text-align: center;
  color: #fff;
  margin-left: 0;
}
.button_item {
  position: relative;
  left: 0;
  margin-left: 0;
  margin-top: 15px;
  width: auto;
  padding: 0 20px;
  height: 46px;
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  font-size: 18.5px;
  font-weight: bold;
  line-height: 24.5px;
  text-align: center;
  color: #fff;
}
.button_text {
  font-weight: bold;
}

.promo {
  height: 650px;
}
.promo_bg {
  position: absolute;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
  width: 92%;
  height: 800px;
  background-image: url(/img/Мороженко\ 1.png);
}
.promo_p {
  position: absolute;
  top: 0;
  right: 0px;
}
.promo_p_time {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.promo_p_phone {
  margin-top: 8px;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.promo_title {
  position: absolute;
  transform: translateX(-50%);
  top: 400px;
  left: 50%;
  width: 700px;
  text-align: center;
  margin: 0 auto;
  font-size: 59.5px;
  font-weight: bold;
  line-height: 60.5px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.promo_button {
  position: absolute;
  top: 550px;
  transform: translateX(-50%);
  left: 50%;
}

.icecream {
  height: 400px;
}
.icecream_flex {
  display: flex;
  justify-content: space-between;
  height: 400px;
  align-items: center;
}
.icecream_item {
  position: relative;
  width: 267px;
  margin-top: 40px;
  transition: all 0.3s;
}
.icecream_item:hover {
  background-color: rgba(255, 255, 255, 0.166);
  border-radius: 15px;
  padding: 15px;
}
.icecream_item_hit::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/sprite.png);
  background-position: 0 0;
  width: 61px;
  height: 61px;
  z-index: 10;
}
.icecream_item_price {
  position: absolute;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: left;
  color: #fff;
  top: 160px;
}
.icecream_item_price span {
  font-size: 25px;
}
.icecream_item_p {
  font-size: 17px;
  font-weight: 500;
  line-height: 21.5px;
  text-align: center;
  color: #fff;
}

.about {
  margin-top: 20px;
  height: 600px;
}
.about_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about_whois {
  background-color: rgb(255, 247, 183);
  width: 1146px;
  height: 306px;
  border-radius: 15px;
  background-image: url(/img/Вафля\ фон.png);
}
.about_whois_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #323232;
  margin: 25px 25px 10px;
}
.about_whois_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 25px 25px;
}
.about_whois_item {
  display: flex;
  width: 540px;
  align-items: center;
}
.about_whois_item_icon {
  margin-right: 10px;
}
.about_whois_item_icon img {
  width: 50px;
  height: 50px;
}
.about_whois_item_p {
  width: 500px;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  text-align: left;
  color: #323232;
  margin: 0;
  margin-top: 15px;
}
.about_blog {
  background-color: #fff;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  margin-top: 40px;
  background-image: url(/img/Клубничный\ фон.png);
}
.about_blog_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #323232;
  margin: 25px 25px 5px;
}
.about_blog_subtitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #323232;
  margin: 0 25px;
  text-decoration: underline;
}
.about_blog a {
  color: #323232;
}
.about_mail {
  position: relative;
  background-color: #fff;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  margin-top: 40px;
  background-image: url(/img/Почтовый-фон.png);
}
.about_mail_bc {
  margin: 7px;
  position: absolute;
  z-index: 0;
  width: 546px;
  height: 206px;
  border-radius: 15px;
  background-color: #f8f7f4;
}
.about_mail_p {
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  text-align: left;
  color: #5a5a5a;
  margin: 30px;
}
.about_mail_input {
  position: relative;
  z-index: 1;
  width: 350px;
  height: 44px;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 30px;
  box-sizing: border-box;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}
.about_mail_button {
  position: relative;
  z-index: 1;
  width: 130px;
  height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #fefefe;
}

.map {
  position: relative;
  height: 430px;
}
.map_goole {
  position: relative;
  z-index: 0;
}
.map_box {
  position: absolute;
  top: -370px;
  right: 0;
  z-index: 1;
  width: 302px;
  height: 305px;
  background-color: #fff;
  border-radius: 15px;
}
.map_box_adrtitle {
  margin: 32px 25px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  color: #323232;
}
.map_box_adr {
  margin: 5px 25px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: #323232;
}
.map_box_phonetitle {
  margin: 15px 25px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #323232;
}
.map_box_phone {
  margin: 5px 25px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-align: left;
  color: #323232;
}
.map_box_phone a {
  color: #323232;
}
.map_box_subphone {
  margin: 5px 25px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #323232;
}
.map_button {
  margin: 25px;
  width: 84%;
  height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #fefefe;
}

.footer {
  height: 135px;
}
.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 135px;
}
.footer_social {
  display: flex;
  justify-content: space-between;
  width: 190px;
}
.footer_social_item {
  position: relative;
  width: 38px;
  height: 38px;
}
.footer_social_icon {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.5);
}
.footer_link {
  width: 330px;
}
.footer_link_ul {
  display: flex;
  justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
.footer_link_li {
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #fff;
  text-decoration: underline;
}
.footer_link_li:hover {
  font-weight: bold;
  list-style-image: url(/svg/heart.svg);
}
.footer_license {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #fefefe;
}

.card {
  height: 230px;
}
.card_raspberry {
  background-image: url(/img/Малиновый\ фон.png);
}
.card_raspberry_item_button {
  text-align: right;
  margin: 20px;
  width: 162px;
}
.card_chocolate {
  background-image: url(/img/Шоколадный\ фон.png);
}
.card_chocolate_item_button {
  text-align: right;
  margin: 20px;
  width: 190px;
}
.card_advanced {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
.card_advanced_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  width: 560px;
  height: 229px;
  background-color: rgba(255, 255, 255, 0.166);
  border-radius: 15px;
}
.card_advanced_item_title {
  width: 520px;
  margin: 20px 20px 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  text-align: left;
  color: #fff;
}
.card_advanced_item_subtitle {
  margin: 0 20px;
  font-size: 18.5px;
  font-weight: bold;
  line-height: 21.5px;
  text-align: left;
  color: #fff;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/web/roboto.woff) format("woff"), url(/fonts/web/roboto.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "robotobold";
  src: url(/fonts/web/robotobold.woff) format("woff"), url(/fonts/web/robotobold.woff2) format("woff2");
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */