@charset "UTF-8";
* {
  font-family: "roboto";
}

html, body {
  margin: 0px;
  padding: 0px;
  position: relative;
  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  margin-top: 10px;
  height: 62px;
  width: 100%;
}
.header_flex {
  display: flex;
  align-items: center;
}
.header_ul {
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
  width: 100%;
}
.header_ul_li {
  margin-left: 24px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  color: #fff;
}
.header_search {
  width: 33px;
  height: 33px;
  border-radius: 100em;
  border: none;
  opacity: 0.2;
  background-color: #fff;
  background-image: url(/img/Лупа.png);
}
.header_search:hover {
  width: 100px;
  height: 33px;
  margin-left: 10px;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 100em;
  display: flex;
  font-weight: 600;
  position: relative;
  transition: 0.2s ease;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: right;
  color: #fff;
}

.button {
  width: 120px;
  height: 33px;
  margin-left: 10px;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 100em;
  transition: 0.2s ease;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.button_href {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-left: 0;
}
.button_icon {
  color: #fff;
  margin-right: 8px;
  margin-left: 0;
}
.button_red {
  width: 280px;
  height: 64px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-left: 0;
}
.button_item {
  position: relative;
  left: 0;
  margin-left: 0;
  margin-top: 15px;
  width: auto;
  padding: 0 20px;
  height: 46px;
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  font-size: 18.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 24.5px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.promo {
  height: 650px;
}
.promo_bg {
  position: absolute;
  background-image: url(/img/Мороженко\ 1.png);
}
.promo_p {
  position: absolute;
  top: 80px;
  right: 0px;
}
.promo_p_time {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.promo_p_phone {
  margin-top: 8px;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.promo_title {
  position: absolute;
  transform: translateX(-50%);
  top: 400px;
  left: 50%;
  width: 700px;
  text-align: center;
  margin: 0 auto;
  font-size: 59.5px;
  font-weight: bold;
  line-height: 60.5px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.promo_button {
  position: absolute;
  top: 560px;
  transform: translateX(-50%);
  left: 50%;
}

.icecream {
  height: 400px;
}
.icecream_flex {
  display: flex;
  justify-content: space-between;
  height: 400px;
}
.icecream_item {
  position: relative;
  width: 267px;
  margin-top: 40px;
}
.icecream_item_hit::after {
  content: "";
  background-image: url(/img/ХИТ.png);
}
.icecream_item_price {
  position: absolute;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: left;
  color: #fff;
  top: 160px;
}
.icecream_item_price span {
  font-size: 25px;
}
.icecream_item_p {
  font-size: 17px;
  font-weight: 500;
  line-height: 21.5px;
  text-align: center;
  color: #fff;
}

.about {
  height: 570px;
}
.about_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about_whois {
  background-color: rgb(255, 247, 183);
  width: 1146px;
  height: 306px;
  border-radius: 15px;
}
.about_whois_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #323232;
  margin: 25px 25px 10px;
}
.about_whois_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 25px 25px;
}
.about_whois_item {
  display: flex;
  width: 540px;
  align-items: center;
}
.about_whois_item_icon {
  margin-right: 10px;
}
.about_whois_item_icon img {
  width: 50px;
  height: 50px;
}
.about_whois_item_p {
  width: 500px;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  text-align: left;
  color: #323232;
  margin: 0;
  margin-top: 15px;
}
.about_blog {
  background-color: #fff;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  margin-top: 40px;
}
.about_blog_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #323232;
  margin: 25px 25px 5px;
}
.about_blog_subtitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #323232;
  margin: 0 25px;
  text-decoration: underline;
}
.about_mail {
  background-color: #fff;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  margin-top: 40px;
}
.about_mail_p {
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  text-align: left;
  color: #5a5a5a;
  margin: 30px;
}
.about_mail_input {
  width: 350px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  background-color: #fff;
  margin-top: 10px;
  margin-left: 30px;
}
.about_mail_button {
  width: 130px;
  height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.map {
  height: 430px;
  background-color: rgb(212, 44, 184);
}

.footer {
  height: 135px;
  background-color: rgb(212, 44, 44);
}

.card {
  height: 230px;
}
.card_advanced {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
.card_advanced_item {
  text-align: right;
  width: 560px;
  height: 229px;
  background-color: rgba(255, 255, 255, 0.166);
  border-radius: 15px;
}
.card_advanced_item_title {
  margin: 20px;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 41px;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.card_advanced_item_subtitle {
  margin: 0 20px;
  font-size: 18.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 21.5px;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.card_advanced_item_button {
  text-align: right;
  margin: 0 20px;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/web/roboto.woff) format("woff"), url(/fonts/web/roboto.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "robotobold";
  src: url(/fonts/web/robotobold.woff) format("woff"), url(/fonts/web/robotobold.woff2) format("woff2");
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */