.about {
    margin-top: 20px;
    height: 600px;
    &_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &_whois {
        background-color: rgb(255, 247, 183);
        width: 1146px;
        height: 306px;
        border-radius: 15px;
        background-image: url(/img/Вафля\ фон.png);
        &_title {
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            text-align: left;
            color: #323232;
            margin: 25px 25px 10px;
        }
        &_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 25px 25px;
        }
        &_item {
            display: flex;
            width: 540px;
            align-items: center;
            
            &_icon {
                margin-right: 10px;
                img {
                    width: 50px;
                    height: 50px;
                }
                
            }
            &_p {
                width: 500px;
                font-size: 16px;
                font-style: normal;
                line-height: 22px;
                text-align: left;
                color: #323232;
                margin: 0;
                margin-top: 15px;
            }
        }
    }
    &_blog {
        background-color: #fff;
        width: 560px;
        height: 220px;
        border-radius: 15px;
        margin-top: 40px;
        background-image: url(/img/Клубничный\ фон.png);
        &_title {
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            text-align: left;
            color: #323232;
            margin: 25px 25px 5px;
        }
        &_subtitle {
            font-size: 24px;
            font-weight: bold;
            line-height: 30px;
            text-align: left;
            color: #323232;
            margin: 0 25px;
            text-decoration: underline;
        }
        a {
            color: #323232;
        }
    }
    &_mail {
        position: relative;
        background-color: #fff;
        width: 560px;
        height: 220px;
        border-radius: 15px;
        margin-top: 40px;
        background-image: url(/img/Почтовый-фон.png);
        &_bc {
            margin: 7px;
            position: absolute;
            z-index: 0;
            width: 546px;
            height: 206px;
            border-radius: 15px;
            background-color: #f8f7f4;
        }
        &_p {
            position: relative;
            z-index: 1;
            font-size: 16px;
            font-style: normal;
            line-height: 22px;
            text-align: left;
            color: #5a5a5a;
            margin: 30px;
        }
        &_input {
            position: relative;
            z-index: 1;
            width: 350px;
            height: 44px;
            background-color: #fff;
            margin-top: 10px;
            margin-left: 30px;
            box-sizing: border-box;
            padding: 9px 15px;
            font-size: 16px;
            line-height: 24px;
            font-style: normal;
            font-weight: 700;
            border: 1px solid #d3d3d2;
            border-radius: 5px;
            outline: none;
        }
        &_button {
            position: relative;
            z-index: 1;
            width: 130px;
            height: 44px;
            box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
            background-image: linear-gradient(to top, #e74a35, #f26843);
            
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            text-align: center;
            color: #fefefe;
        }
    }
    
}