.button {
    width: 120px;
    height: 33px;
    margin-left: 10px;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 100em;  
    transition: 0.2s ease;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        
        font-weight: bold;
        background: linear-gradient(to top, #f26843, #e74a35);
    }
    &_href {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        margin-left: 0;
    }
    &_icon {
        color: #fff;
        margin-right: 8px;
        margin-left: 0;
    }
    &_red {
        width: 280px;
        height: 64px;
        box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
        background-image: linear-gradient(to top, #e74a35, #f26843);
        
        text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
        font-size: 32px;
        font-weight: bold;
        line-height: 1.36;
        text-align: center;
        color: #fff;
        margin-left: 0;
    }
    &_item {
        position: relative;
        left: 0;
        margin-left: 0;
        margin-top: 15px;
        width: auto;
        padding: 0 20px;
        height: 46px;
        opacity: 0.99;
        box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
        background-image: linear-gradient(to top, #e74a35, #f26843);
        font-size: 18.5px;
        font-weight: bold;
        line-height: 24.5px;
        text-align: center;
        color: #fff;
    }
    &_text {
        font-weight: bold;
    }
    &_filter {
        
        align-items: center;
        height: 37px;
        background-color: #f8f7f420;
        color: #fff;
        border: none;
        border-radius: 100em; 
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        padding: 0;
        margin-left: 0;
        &:hover {
            font-weight: 500;
        }
    }
    &_header {
        width: 100px;
    }
}