.icecream {
    &_catalog {
        height: 1140px;
    }
    &_flex {
        display: flex;
        justify-content: space-between;
        height: 400px;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    &_item {
        position: relative;
        width: 267px;
        transition: all 0.3s;
        padding: 15px 0;
        &:hover {
            background-color: rgba(255, 255, 255, 0.166);
            border-radius: 15px;
            padding: 15px;
        }
        &_hit {
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url(../img/sprite.png);
                background-position: 0 0;
                width: 61px;
                height: 61px;
                z-index: 10;
            }
        }
        &_price {
            position: absolute;
            text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
            font-size: 45px;
            font-weight: bold;
            line-height: 45px;
            text-align: left;
            color: #fff;
            top: 160px;
            span {
                font-size: 25px;
            }
        }
        &_p {
            font-size: 17px;
            font-weight: 500;
            line-height: 21.5px;
            text-align: center;
            color: #fff;
        }

        
    }
    &_list {
        &_before {
            a {
            color: rgba(255, 255, 255, 0.4);
            cursor:auto;
        } 
        }
        &_body {
            display: flex;
            padding-inline-start: 0;
            list-style-type: none;
            margin: 0 5px;
        }
        &_item {
            margin: 5px;
            width: 27px;
            height: 26px;
            border-radius: 100%;
            align-items: center;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            line-height: 26px;
            background-color: rgba(255, 255, 255, 0);
            color: #fff;
            &:hover, &_active, {
                background-color: rgba(255, 255, 255, 0.2);
                color: #000;
            }
            
        }
        &_flex {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

}