.promo {
    height: 650px;
    
    &_bg {
        
        position: absolute;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        top: -70px;
        width: 92%;
        height: 800px;
        background-image: url(/img/Мороженко\ 1.png);
        
    }
    &_p {
        position: absolute;
        top: 0;
        right: 0px;
        &_time {
            
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 16px;
            letter-spacing: normal;
            text-align: right;
            color: #fff;
        }
        &_phone {
            margin-top: 8px;
            font-size: 22px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 24px;
            letter-spacing: normal;
            text-align: right;
            color: #fff;
        }
    }
    &_title {
        position: absolute;
        transform: translateX(-50%);
        top: 400px;
        left: 50%;
        width: 700px;
        text-align: center;
        margin: 0 auto;
        font-size: 59.5px;
        font-weight: bold;
        line-height: 60.5px;
        letter-spacing: normal;
        text-align: center;
        color: #fff; 
    }
    &_button {
        position: absolute;
        top: 550px;
        transform: translateX(-50%);
        left: 50%;
    }
}